* {
	margin: 0;
	padding: 0;
	font: 1em Verdana, sans-serif;
}
html, body {
	width: 100%;
	height: 100%;
}
.container {
	width: 90%;
	height: 90%;
	background: rgba(0,0,0,.05);
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.data-picker {
	width: 20%;
	height: 30px;
	display: block;
	text-align: center;
}
.data-picker .controls {
	width: 20px;
	height: 100%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	outline: none;
	border: none;
	background: transparent;
}

.data-picker .data {
	display: inline-block;
	height: 100%;
	width: 60px;
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}

.data-picker .data .item {
	width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 16px;
	line-height: 2em;
}

.data-picker .data .item:first-child {
	transition: margin-left .2s ease-in-out;
}

.data-picker .controls.left::before,
.data-picker .controls.left::after,
.data-picker .controls.right::before,
.data-picker .controls.right::after {
	content: '';
	display: block;
	width: 15px;
	height: 50%;
	background: transparent;
	position: absolute;
	top: 25%;
}

.data-picker .controls.left::before,
.data-picker .controls.left::after {
	right: -10%;
}
.data-picker .controls.right::before,
.data-picker .controls.right::after {
	left: -10%;
}

.data-picker .controls.left::before {
	border-bottom: 2px solid #000;
	transform: rotate(45deg);
}
.data-picker .controls.left::after {
	border-top: 2px solid #000;
	transform: rotate(-45deg);
}

.data-picker .controls.right::before {
	border-top: 2px solid #000;
	transform: rotate(45deg);
}
.data-picker .controls.right::after {
	border-bottom: 2px solid #000;
	transform: rotate(-45deg);
}